<a href="https://colab.research.google.com/github/Jaseem1911/DataPreprocessing/blob/main/IndiaMenu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
dat=pd.read_csv('/content/drive/MyDrive/India_Menu.csv')

In [ ]:
dat.dtypes

Menu Category              object
Menu Items                 object
Per Serve Size             object
Energy (kCal)             float64
Protein (g)               float64
Total fat (g)             float64
Sat Fat (g)               float64
Trans fat (g)             float64
Cholesterols (mg)         float64
Total carbohydrate (g)    float64
Total Sugars (g)          float64
Added Sugars (g)          float64
Sodium (mg)               float64
dtype: object

In [ ]:
data=dat.drop(['Menu Category','Menu Items','Per Serve Size'],axis=1)
data

,Energy (kCal),Protein (g),Total fat (g),Sat Fat (g),Trans fat (g),Cholesterols (mg),Total carbohydrate (g),Total Sugars (g),Added Sugars (g),Sodium (mg)
0,402.05,10.24,13.83,5.34,0.16,2.49,56.54,7.90,4.49,706.13
1,339.52,8.50,11.31,4.27,0.20,1.47,50.27,7.05,4.07,545.34
2,652.76,20.29,39.45,17.12,0.18,21.85,52.33,8.35,5.27,1074.58
3,674.68,20.96,39.10,19.73,0.26,40.93,59.27,3.50,1.08,1087.46
4,512.17,15.30,23.45,10.51,0.17,25.24,56.96,7.85,4.76,1051.24
...,...,...,...,...,...,...,...,...,...,...
136,11.23,0.08,23.45,0.00,0.01,0.08,2.63,2.33,1.64,71.05
137,86.40,0.00,0.00,0.00,0.00,0.30,21.60,16.20,5.34,15.00
138,51.03,3.06,3.99,2.89,0.01,13.43,0.72,0.54,0.00,178.95
139,45.08,1.47,1.00,0.22,0.04,2.00,7.55,2.54,0.00,0.04
140,72.25,0.65,0.02,0.02,0.02,0.01,18.00,16.83,0.00,10.80

In [ ]:
data.isnull().sum()

Energy (kCal)             0
Protein (g)               0
Total fat (g)             0
Sat Fat (g)               0
Trans fat (g)             0
Cholesterols (mg)         0
Total carbohydrate (g)    0
Total Sugars (g)          0
Added Sugars (g)          0
Sodium (mg)               1
dtype: int64

In [ ]:
data=data.dropna()

In [ ]:
y=data['Energy (kCal)']
x=data.drop(['Energy (kCal)'],axis=1)

In [ ]:
# Split into testing and training
# testing and training library avalable in the sklearn library
# sklearn-ppt
from sklearn.model_selection import train_test_split
# random state is a counter, which decides in which pattern the dataset should 
# be taken for testing and training
# test size is 0.25 that is 25% data for testing and 75% data for training
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.25)

In [ ]:
x_test

,Protein (g),Total fat (g),Sat Fat (g),Trans fat (g),Cholesterols (mg),Total carbohydrate (g),Total Sugars (g),Added Sugars (g),Sodium (mg)
108,39.47,31.51,9.54,0.26,110.37,46.24,9.16,6.32,1906.27
67,0.56,0.28,0.28,0.28,2.79,0.28,1.40,0.00,13.84
31,7.53,13.55,6.43,0.18,1.84,54.46,0.92,0.00,675.35
120,0.00,0.00,0.00,0.00,0.00,64.22,64.22,64.22,110.16
42,8.60,14.02,7.11,0.32,28.14,68.01,25.72,13.50,615.74
12,34.00,36.69,10.33,0.25,81.49,55.39,8.92,6.14,1854.71
81,5.49,15.01,14.00,0.20,9.42,60.93,47.55,36.63,233.32
69,0.91,0.46,0.46,0.46,4.56,0.46,2.28,0.00,22.62
104,24.43,22.65,11.56,0.17,71.23,37.45,7.64,3.84,1396.17
109,31.49,34.65,15.55,0.24,302.61,43.60,6.07,2.64,1614.88
114,12.72,19.63,11.30,0.14,30.05,35.40,1.96,0.00,642.25
56,10.36,12.02,8.84,0.35,36.48,19.08,14.41,0.00,154.98
66,6.87,6.32,4.49,0.16,14.83,41.29,31.81,1.35,70.26
19,17.33,14.29,2.82,0.06,31.11,12.70,0.58,0.00,873.89
133,0.26,0.49,0.15,0.04,0.25,12.36,7.65,2.50,113.23
78,0.24,0.16,0.16,0.16,1.57,24.17,20.75,19.94,9.61
11,23.74,26.89,12.54,0.27,87.63,57.06,2.52,1.08,1152.38
27,4.79,14.70,7.04,0.11,1.09,38.34,0.55,0.00,216.79
128,1.52,1.75,1.28,0.05,4.70,32.42,31.43,27.74,66.61
110,22.44,39.21,20.46,0.20,43.68,46.00,7.57,3.28,1446.87
36,10.22,11.78,7.29,0.18,25.31,38.86,3.02,0.75,804.63
119,0.00,0.00,0.00,0.00,0.00,44.72,44.72,44.72,76.71
60,10.88,12.01,8.67,0.41,35.67,40.04,29.96,12.16,209.09
4,15.30,23.45,10.51,0.17,25.24,56.96,7.85,4.76,1051.24
132,0.52,5.57,1.78,0.47,0.29,7.24,6.66,4.00,221.32
26,3.38,10.39,4.97,0.08,0.77,27.08,0.39,0.00,153.15
139,1.47,1.00,0.22,0.04,2.00,7.55,2.54,0.00,0.04
96,1.54,1.77,1.30,0.06,4.85,19.78,17.66,12.49,34.51
16,12.45,12.27,3.64,0.11,213.09,32.89,4.89,3.64,757.91
18,26.91,29.20,5.08,0.30,31.32,77.47,3.28,0.35,2399.49
10,21.46,19.36,7.63,0.18,66.04,46.08,5.88,4.49,928.52
112,11.97,24.53,6.01,0.18,8.10,58.87,12.87,6.67,1170.89
101,5.42,9.76,6.47,0.19,9.23,79.04,48.45,35.22,188.20
94,2.25,4.02,3.01,0.08,5.85,19.11,17.07,10.78,65.56
51,10.51,12.03,8.85,0.36,36.55,19.81,14.45,0.00,155.06

In [ ]:
y_test

108    641.36
67       9.93
31     387.76
120    256.88
42     432.98
12     689.12
81     397.98
69      16.23
104    457.94
109    622.25
114    378.43
56     215.72
66     255.78
19     248.76
133     54.89
78      94.94
11     567.19
27     317.92
128    151.56
110    634.71
36     309.35
119    178.88
60     302.02
4      512.17
132     81.18
26     224.59
139     45.08
96     100.99
16     290.42
18     720.30
10     451.92
112    517.98
101    429.95
94     121.64
51     219.36
Name: Energy (kCal), dtype: float64

In [ ]:
# make logistic regression model
from sklearn import linear_model
# create instance of the model
lr=linear_model.LinearRegression()
# now fitting the instances created to the training data and creating the 
# linear regression model and store int another variable
model=lr.fit(x_train,y_train)

In [ ]:
# predict the output
predictions=model.predict(x_test)
predictions

array([631.42547022,  -2.08539499, 404.20363547, 257.03610618,
       460.98501977, 677.18788969, 414.09884865,   2.22825581,
       479.35997947, 593.86324962, 375.94279341, 217.87910922,
       260.89685089, 236.767669  ,  57.44968143,  95.25542388,
       581.34971069, 298.77828555, 147.77658243, 625.14024838,
       340.49731908, 176.29824405, 313.3315317 , 519.91720565,
        67.10911495, 208.43725222,  38.19117635,  96.91215776,
       282.38019356, 737.24796159, 453.89073166, 504.08409371,
       443.77192933, 116.18343747, 222.13488013])

In [ ]:
print(predictions)

[631.42547022  -2.08539499 404.20363547 257.03610618 460.98501977
 677.18788969 414.09884865   2.22825581 479.35997947 593.86324962
 375.94279341 217.87910922 260.89685089 236.767669    57.44968143
  95.25542388 581.34971069 298.77828555 147.77658243 625.14024838
 340.49731908 176.29824405 313.3315317  519.91720565  67.10911495
 208.43725222  38.19117635  96.91215776 282.38019356 737.24796159
 453.89073166 504.08409371 443.77192933 116.18343747 222.13488013]

In [ ]:
# by comparing these values mean squared error is found .for that we import mean squared error from sklearn

In [ ]:
from sklearn.metrics import mean_squared_error
print('MSC is:',mean_squared_error(y_test,predictions))

MSC is: 185.31630436065709