<a href="https://colab.research.google.com/github/Jaseem1911/DataPreprocessing/blob/main/PetrolPrice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
dat=pd.read_csv('/content/drive/MyDrive/petrol.csv')

In [ ]:
dat.dtypes

Date        object
Delhi      float64
Kolkata    float64
Mumbai     float64
Chennai    float64
dtype: object

In [ ]:
data=dat.drop(['Date'],axis=1)
data

     Delhi  Kolkata  Mumbai  Chennai
0    74.07    76.77   81.92    76.84
1    74.02    76.73   81.87    76.79
2    74.02    76.73   81.87    76.79
3    74.02    76.73   81.87    76.79
4    73.98    76.69   81.83    76.75
..     ...      ...     ...      ...
369  72.51    80.30   80.60    75.78
370  73.60    81.43   81.75    76.93
371  71.56    79.42   80.16    74.76
372  71.51    79.36   80.11    74.71
373  71.51    79.36   80.11    74.71

[374 rows x 4 columns]

In [ ]:
y=data['Delhi']
x=data.drop(['Delhi'],axis=1)

In [ ]:
# split into testing and training
# testing and training set is available from sklearn library
# sklearn-ppt
from sklearn.model_selection import train_test_split
# random state is a counter, which decides in which pattern the dataset should
# be taken for testing and training   
# test size is 0.25 that is 25% data for testing and 75% data for training
x_train,x_test,y_train,y_test =train_test_split(x,y,random_state=42,test_size=0.25)

In [ ]:
x_test

     Kolkata  Mumbai  Chennai
329    68.50   70.23    65.09
33     75.01   80.14    74.95
15     76.66   81.80    76.72
325    64.18   65.04    59.65
57     74.44   79.60    74.37
..       ...     ...      ...
110    72.69   77.84    72.49
351    71.57   71.97    67.29
60     74.78   79.94    74.74
157    72.53   76.88    72.33
322    67.61   71.00    64.13

[94 rows x 3 columns]

In [ ]:
y_test

329    65.65
33     72.27
15     73.95
325    60.09
57     71.72
       ...
110    69.94
351    66.90
60     72.07
157    69.78
322    64.58
Name: Delhi, Length: 94, dtype: float64

In [ ]:
# make logistic regression model
from sklearn import linear_model
# create instance of the model
lr=linear_model.LinearRegression()
# now fitting the instances created to the training data and creating the linear regression model and store into another variable
model=lr.fit(x_train,y_train)

In [ ]:
# predict the output
predictions=model.predict(x_test)
predictions

array([63.76823923, 72.11352413, 73.69801319, 59.0300319 , 71.58915784,
       68.72894149, 72.8868914 , 69.42243739, 60.76560005, 69.10132391,
       69.08807916, 72.30947454, 69.6281974 , 71.48711308, 69.68981782,
       64.56318048, 73.80487247, 69.12427025, 58.53510904, 70.37146763,
       73.72515651, 68.52641424, 73.15555136, 68.98855368, 66.78264496,
       69.26218454, 69.65115582, 68.3715178 , 68.40770888, 74.67809906,
       72.37280893, 69.94133438, 72.22038341, 60.73383906, 63.51395864,
       69.62010177, 72.59247471, 72.70480329, 69.58434512, 68.6896015 ,
       67.80876853, 63.95971533, 72.04252855, 70.27895344, 69.94133438,
       69.1496405 , 71.5710623 , 71.57620421, 73.67192907, 72.15876298,
       60.63304183, 69.38471641, 63.22366652, 70.27895344, 67.56553791,
       60.12883878, 71.16073856, 73.76134759, 68.22496379, 72.84165255,
       69.21473099, 68.56318555, 72.71775692, 72.10447636, 70.20795786,
       73.08455578, 69.38249585, 61.07972641, 70.32247833, 72.52914031,
       71.07930862, 68.38056557, 68.55242381, 63.51395864, 72.67621491,
       68.46965669, 72.87784363, 72.3133804 , 62.95776433, 73.69801319,
       72.80546146, 64.19609007, 73.68863803, 69.69981773, 69.54910618,
       64.86235683, 61.95776613, 64.71951186, 69.80605226, 69.90652988,
       65.92292416, 71.91976561, 69.78795672, 62.85501263])

In [ ]:
# original value in y_test
print(y_test)

329    65.65
33     72.27
15     73.95
325    60.09
57     71.72
       ...
110    69.94
351    66.90
60     72.07
157    69.78
322    64.58
Name: Delhi, Length: 94, dtype: float64

In [ ]:
print(predictions)

[63.76823923 72.11352413 73.69801319 59.0300319  71.58915784 68.72894149
 72.8868914  69.42243739 60.76560005 69.10132391 69.08807916 72.30947454
 69.6281974  71.48711308 69.68981782 64.56318048 73.80487247 69.12427025
 58.53510904 70.37146763 73.72515651 68.52641424 73.15555136 68.98855368
 66.78264496 69.26218454 69.65115582 68.3715178  68.40770888 74.67809906
 72.37280893 69.94133438 72.22038341 60.73383906 63.51395864 69.62010177
 72.59247471 72.70480329 69.58434512 68.6896015  67.80876853 63.95971533
 72.04252855 70.27895344 69.94133438 69.1496405  71.5710623  71.57620421
 73.67192907 72.15876298 60.63304183 69.38471641 63.22366652 70.27895344
 67.56553791 60.12883878 71.16073856 73.76134759 68.22496379 72.84165255
 69.21473099 68.56318555 72.71775692 72.10447636 70.20795786 73.08455578
 69.38249585 61.07972641 70.32247833 72.52914031 71.07930862 68.38056557
 68.55242381 63.51395864 72.67621491 68.46965669 72.87784363 72.3133804
 62.95776433 73.69801319 72.80546146 64.19609007 73.68863803 69.69981773
 69.54910618 64.86235683 61.95776613 64.71951186 69.80605226 69.90652988
 65.92292416 71.91976561 69.78795672 62.85501263]

In [ ]:
# by comparing these values mean squared error is found.for that we import mean squared error from sklearn

In [ ]:
from sklearn.metrics import mean_squared_error
print('MSC is:',mean_squared_error(y_test,predictions))

MSC is: 0.3509449863116677