<a href="https://colab.research.google.com/github/Jaseem1911/DataPreprocessing/blob/main/StudyHrs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/score.csv')

In [ ]:
data.dtypes

Hours     float64
Scores      int64
dtype: object

In [ ]:
data.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [ ]:
x=data.drop(['Scores'],axis=1)
y=data['Scores']

In [ ]:
# split into testing and training 
# testing and training set is available in the sklearn library
# sklearn-ppt
from sklearn.model_selection import train_test_split
# random state is a counter, in which decides in which pattern the data should be selected for testing and training set
# test size is 0.25 that is 25% data for testing and 75% data for training
x_test,x_train,y_test,y_train=train_test_split(x,y,random_state=42,test_size=0.25)

In [ ]:
x_test

    Hours
1     5.1
22    3.8
5     1.5
2     3.2
12    4.5
15    8.9
3     8.5
4     3.5
20    2.7
17    1.9
21    4.8
18    6.1
24    7.8
7     5.5
10    7.7
14    1.1
19    7.4
6     9.2

In [ ]:
y_test

1     47
22    35
5     20
2     27
12    41
15    95
3     75
4     30
20    30
17    24
21    54
18    67
24    86
7     60
10    85
14    17
19    69
6     88
Name: Scores, dtype: int64

In [ ]:
# make logistic regression model
from sklearn import linear_model
# create instance of the model
lr=linear_model.LinearRegression()
# now fitting the instance created to the training data and creating the linear 
# regression model and store into another variable
model=lr.fit(x_train,y_train)

In [ ]:
# predict the output
predictions=model.predict(x_test)
predictions

array([53.32752957, 40.22182983, 17.0348226 , 34.17304534, 47.27874507,
       91.63649803, 87.60397503, 37.19743758, 29.13239159, 21.0673456 ,
       50.30313732, 63.40883706, 80.54705979, 57.36005256, 79.53892904,
       13.00229961, 76.51453679, 94.66089028])

In [ ]:
# original value in y_test
print(y_test)

1     47
22    35
5     20
2     27
12    41
15    95
3     75
4     30
20    30
17    24
21    54
18    67
24    86
7     60
10    85
14    17
19    69
6     88
Name: Scores, dtype: int64

In [ ]:
print(predictions)

[53.32752957 40.22182983 17.0348226  34.17304534 47.27874507 91.63649803
 87.60397503 37.19743758 29.13239159 21.0673456  50.30313732 63.40883706
 80.54705979 57.36005256 79.53892904 13.00229961 76.51453679 94.66089028]